.admin-home-container {
  padding: 20px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

// .header-content {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 20px;
// }

// /* Left section styles */
// .header-left {
//   display: flex;
//   align-items: center;
// }

// .school-logo {
//   height: 50px; /* Adjust as needed */
// }

// /* Center section styles */
// .header-center {
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// /* Right section styles */
// .header-right {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }

// .logout-icon {
//   font-size: 1.5em;
// }
.feature-card {
  text-align: center;
  padding: 10px;
}

.dashboard-info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.chart-container, .info-panel {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.chart-container {
  height: 300px;
}
