.admin-home-container {
    text-align: center;
    padding: 20px;
  
    h2 {
      margin-bottom: 30px;
      color: #0d47a1;
    }
  
    .feature-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
      padding: 20px;
  
      .feature-card {
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
        p-button {
          width: 100%;
        }
      }
    }
  }
  