<p>s-profile works!</p>
<!-- src/app/components/student-profile/student-profile.component.html -->
<div class="student-profile">
    <h2 clas>{{ student.name }} Profile</h2>
    <div class="profile-card">
      <img [src]="student.photoUrl" alt="Student Photo" class="profile-photo" />
      <h3><strong>Name: </strong>{{ student.name }}</h3>
      <p><strong>Class: </strong> {{ student.class_id }}</p>
      <p><strong>Roll Number: </strong> {{ student.roll_number }}</p>
      <p><strong>DOB: </strong> {{ student.dob }}</p>
      <p><strong>Email: </strong> {{ student.email }}</p>
      <p><strong>Phone: </strong> {{ student.phone }}</p>
      <p><strong>Address: </strong> {{ student.address }}</p>
      <p><strong>Guardian: </strong> {{ student.guardianName }}</p>
      <!-- <p><strong>Guardian Contact:</strong> {{ student.guardianContact }}</p> -->
    </div>
  </div>
  