<p-toolbar>
  <div pHeader class="header-content">
    <div class="header-left">
      <img src="../../../assets/logos/WALogo.jpg" alt="School Logo" class="school-logo" />
    </div>
    <div class="header-center">
      <h1><b>{{ schoolName }}</b></h1>
      <p class="address">Address</p> 
    </div>
    <div class="header-right">
      <div class="p-col-12 p-md-3" (click)="toggleMenu($event)">
        <i class="pi pi-bars" style="font-size: 1.5em; cursor: pointer; background-color:aliceblue"></i>
      </div>
    </div>
  </div>
</p-toolbar>

<!-- User Menu with Quick Links -->
<p-menu #menu [popup]="true" [model]="menuItems"></p-menu>

<p-toolbar>
  <div class="p-toolbar-group-center welcome-message">
    <h3>Welcome, Manish!</h3>
  </div>
</p-toolbar>

<div class="student-portal">
  <div class="p-grid">
    <!-- Recent Notifications -->
    <div class="p-col-12 p-md-4">
      <p-panel header="Recent Notifications">
        <ul>
          <li *ngFor="let notification of notifications"
          [ngClass]="{'high-priority': notification.priority === 'high', 'low-priority': notification.priority === 'low'}">
            {{ notification.text }}
          </li>
        </ul>
      </p-panel>
    </div>

    <!-- Upcoming Events -->
    <div class="p-col-12 p-md-4">
      <p-panel header="Upcoming Events">
        <ul>
          <li *ngFor="let event of events">
            {{ event.text }}: {{ event.date }}
          </li>
        </ul>
      </p-panel>
    </div>

    <!-- Attendence % -->
    <div class="p-col-12 p-md-4">
      <p-panel header="Attendence Percentage">
        <ul>
          <li>
            Attendence till {{currentDate}} : {{ attendence }}
          </li>
        </ul>
      </p-panel>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-panel header="Results">
        <p-table [value]="results" responsiveLayout="scroll" >
          
          <!-- Table Header -->
          <ng-template pTemplate="header">
            <tr>
              <th>Subject</th>
              <th>Score</th>
              <th>Grade (Term 1)</th>
              <th>Grade (Term 2)</th>
              <th>Grade (Term 3)</th>
            </tr>
          </ng-template>
  
          <!-- Table Body -->
          <ng-template pTemplate="body" let-result>
            <tr>
              <td>{{ result.subject }}</td>
              <td>{{ result.score }}</td>
              <td>{{ result.gradeTerm1 }}</td>
              <td>{{ result.gradeTerm2 }}</td>
              <td>{{ result.gradeTerm3 }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </div>
  
</div>
