.school-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle
  }
  
  p-menubar {
    background-color: #007ad9; /* Customize this with your desired color */
    color: #ffffff;
  }
  
  p-menubar button {
    margin-left: 10px;
  }
  .logo-container {
    display: flex;                /* Use flexbox for alignment */
    align-items: center;         /* Vertically align items */
}

.school-logo {
    height: 30px;                /* Ensure the image height matches */
    margin-right: 10px;          /* Add some space between the logo and text */
}
