<!-- <p-toast></p-toast> -->
<div class="login-page">
  <div class="center-section">
    <div class="dialogue-box">
      <h1 class="erp-title">The ERP System</h1>
      <div>
        <div class="input-field">
          <label><b>Username</b></label>
          <input type="text" pInputText [(ngModel)]="username" (keydown.enter)="focusPassword()" />
        </div>
        
        <div class="input-field">
          <label><b>Password</b></label>
          <div class="password-container">
            <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" pInputText required
            #passwordInput (keydown.enter)="login(username, password)" />
            <div class="toggle-password" (click)="togglePassword()">
              {{ showPassword ? '👁️' : '👁️‍🗨️' }}
            </div>
          </div>
        </div>
        <div class="forgot-password">
          <a href="#" (click)="forgotPassword()">Forgot Password?</a>
        </div>
      </div>
      <button class="login-button" (click)="login(username, password)">LOGIN</button>
      <!-- <app-loaderr [isLoading]="isLoading"></app-loaderr> -->
    </div>
  </div>
</div>