<p-toast></p-toast>
<div class="login-page">
  <div class="left-section">
    <!-- <img src="assets/ads/classmate.jpeg" alt="Classmate Logo" class="logo" />
    <h3>Ads Section</h3>
    <p>
      Ad details
      <br />
      <a href="https://classmateshop.com/">Order Now</a>
    </p> -->
  </div>
  
  <div class="center-section">
    <div class="dialogue-box">
      <h1 class="erp-title">The ERP System</h1>
      <div>
        <div class="input-field">
          <label><b>Username</b></label>
          <input type="text" pInputText [(ngModel)]="username" (keydown.enter)="focusPassword()" />
        </div>
        
        <div class="input-field">
          <label><b>Password</b></label>
          <div class="password-container">
            <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" pInputText required
            #passwordInput (keydown.enter)="login(username, password,selectedUserType)" />
            <div class="toggle-password" (click)="togglePassword()">
              {{ showPassword ? '👁️' : '👁️‍🗨️' }}
            </div>
          </div>
        </div>
        
        <div class="input-field">
          <label><b>User Type</b></label>
          <p-dropdown [options]="userType" [(ngModel)]="selectedUserType" placeholder="Select Business Type"></p-dropdown>
        </div>
        
        <div class="forgot-password">
          <a href="#" (click)="forgotPassword()">Forgot Password?</a>
        </div>
      </div>
      <button class="login-button" (click)="login(username, password, selectedUserType)">LOGIN</button>
      <app-loaderr [isLoading]="isLoading"></app-loaderr>
    </div>
  </div>
  
  
  <div class="right-section">
    <!-- <img src="assets/ads/classmate.jpeg" alt="Classmate Logo" class="logo" />
    <h3>Ads Section</h3>
    <p>
      Ad details
      <br />
      <a href="https://www.classmate.com/">Order Now</a>
    </p> -->
  </div>
</div>