<p-toast></p-toast>
<div class="su-admin-container">
  <!-- Logout Icon -->
  <i class="fa fa-sign-out" style="font-size:48px; color:red;"></i>

  <h2>Super Admin: Manage Entities</h2>

  <!-- Add Entity Type Dropdown Menu -->
  <div class="add-button-container">
    <p-menu #entityMenu [popup]="true" [model]="entityMenuItems"></p-menu>
    <button pButton type="button" *ngIf="entityType === ''" label="Add" icon="pi pi-plus"
      (click)="entityMenu.toggle($event)"></button>
  </div>

  <!-- School Form -->
  <div class="entity-form" *ngIf="entityType === 'school'">
    <h2><b>{{ isEditMode ? 'Modify School' : 'Add School' }}</b></h2>
    <form #schoolForm="ngForm" (ngSubmit)="onSubmit(schoolForm)">
      <div class="two-column-layout">
        <div class="form-group">
          <label for="schoolName">School Name</label>
          <input id="name" type="text" pInputText [(ngModel)]="school.name" name="name" required />
        </div>
        <div class="form-group">
          <label for="schoolAddress">Address</label>
          <input id="address" type="text" pInputText [(ngModel)]="school.address" name="address" required />
        </div>
        <div class="form-group">
          <label for="schoolCity">City</label>
          <input id="city" type="text" pInputText [(ngModel)]="school.city" name="city" required />
        </div>
        <div class="form-group">
          <label for="schoolDistrict">District</label>
          <input id="district" type="text" pInputText [(ngModel)]="school.district" name="district" />
        </div>
        <div class="form-group">
          <label for="schoolState">State</label>
          <input id="state" type="text" pInputText [(ngModel)]="school.state" name="state" required />
        </div>
        <div class="form-group">
          <label for="schoolPostalCode">Postal Code</label>
          <input id="postalCode" type="number" pInputText [(ngModel)]="school.postal_code" name="postalCode" required />
        </div>
        <div class="form-group">
          <label for="schoolCountry">Country</label>
          <input id="country" type="text" pInputText [(ngModel)]="school.country" name="country" required />
        </div>
        <div class="form-group">
          <label for="schoolPhone">Phone</label>
          <input id="phone" type="tel" pInputText [(ngModel)]="school.phone" name="phone" />
        </div>
        <div class="form-group">
          <label for="schoolEmail">Gmail</label>
          <input id="email" type="email" pInputText [(ngModel)]="school.gmail" name="gmail" required />
        </div>
        <div class="form-group">
          <label for="schoolPrincipalEmail">Principal Name</label>
          <input id="principalName" type="text" pInputText [(ngModel)]="school.principalName" name="principalName" />
        </div>
        <div class="form-group">
          <label for="schoolEstablishedDate">Established Year</label>
          <input id="establishedDate" type="number" pInputText [(ngModel)]="school.establishedYear"
            name="establishedYear" required />
        </div>
        <div class="form-group">
          <label for="schoolBoardAffiliation">Board Affiliation</label>
          <input id="boardAffiliation" type="text" pInputText [(ngModel)]="school.boardAffiliation"
            name="boardAffiliation" />
        </div>
        <div class="form-group">
          <label for="schoolStudentCapacity">Student Capacity</label>
          <input id="studentCapacity" type="number" pInputText [(ngModel)]="school.studentCapacity"
            name="studentCapacity" required />
        </div>
        <div class="form-group">
          <label for="schoolCurrentStudentCount">Current Student Count</label>
          <input id="currentStudentCount" type="number" pInputText [(ngModel)]="school.currentStudentCount"
            name="currentStudentCount" required />
        </div>
      </div>
      <button pButton type="submit" label="{{ isEditMode ? 'Update' : 'Create' }}"></button>
    </form>
  </div>


  <div class="school-table" *ngIf="schools.length > 0">
    <div class="global-filter">
      <input type="text" pInputText placeholder="Global Filter"
        (input)="schoolTable.filterGlobal($any($event.target).value, 'contains')" class="global-filter-input" />
    </div>
    <p-table #schoolTable [value]="schools" [paginator]="true" [rows]="paginator.rows"
      [globalFilterFields]="globalFilterFields" [rowsPerPageOptions]="paginator.rowsPerPageOptions">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of headers" [class]="header.classes + ' sortable-header'"
            (click)="sort(header.valueField)">
            {{ header.label }}
            <i *ngIf="sortField === header.valueField" class="pi"
              [ngClass]="sortOrder === 1 ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'"></i>
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-school>
        <tr>
          <td *ngFor="let header of headers" [class]="header.classes">
            {{ school[header.valueField] }}
          </td>
          <td class="text-center">
            <button (click)="editSchool(school)" pButton icon="pi pi-pencil" class="action-button edit-button"
              title="Edit"></button>
            <button (click)="deleteSchool(school)" pButton icon="pi pi-trash" class="action-button delete-button"
              title="Delete"></button>
            <button (click)="viewDetails(school)" pButton icon="pi pi-info-circle" class="action-button details-button"
              title="Details"></button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>