.dashboard-header {
  padding: 1vh;
}

.header-button {
  padding: 1vh;
}

.pi {
  padding: 1vh;
}

.dashboard-header h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.p-datatable-sm th,
.p-datatable-sm td {
  width: 150px; 
  text-align: left;
}

.p-datatable-sm th {
  cursor: pointer;
}

//Maintain consistent row height 
.p-datatable-sm tbody tr {
  height: 200px; 
}

// Input box
.table-input {
  height: 35px; 
  padding: 0 4px;
  font-size: 14px;
  width: 100%; 
  border: 1px solid #ded8d8;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}
