<p-toast></p-toast>
<div class="dashboard-header">
  <h1>Dashboard</h1>
</div>
<div class="header-button">
  <button pButton label="Add Product" (click)="addRow()" class="p-button-primary"></button>
</div>

<p-table 
  [value]="products" 
  styleClass="p-datatable-striped p-datatable-gridlines"
  class="p-datatable-sm">
  
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns"  (click)="sortColumn(col.field)">
        {{ col.header }}

        <i 
          class="pi"
          [ngClass]="{
            'pi-angle-down': getSortIcon(col.field) === 'asc' || getSortIcon(col.field) === null,
            'pi-angle-up': getSortIcon(col.field) === 'desc'  
          }">
        </i>
        
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
    <tr>
      <td *ngFor="let col of columns" >
        <ng-container *ngIf="isRowEditable(rowIndex)">
          
          <input *ngIf="col.field === 'id'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" required NumberOnly />
  
          <input *ngIf="col.field === 'product'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
            OnlyCharsAndSpaces  />
  
          <input *ngIf="col.field === 'category'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
           OnlyCharsAndSpaces />
  
          <input *ngIf="col.field === 'fullPrice'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
          appTwoDigitDecimalNumbers  />
  
          <input *ngIf="col.field === 'salePrice'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
           appTwoDigitDecimalNumbers />
  
          <input *ngIf="col.field === 'availability'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
           OnlyChars  />
  
          <input *ngIf="col.field === 'supplier'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
           OnlyCharsAndSpaces />
  
          <input *ngIf="col.field === 'discount'" type="text" pInputText [(ngModel)]="product[col.field]" class="table-input" 
           DecimalWithPercentage />
        </ng-container>
  
        <ng-container *ngIf="!isRowEditable(rowIndex)">
          {{ product[col.field] }}
        </ng-container>
      </td>
  
      <td class="action-buttons">
        <button *ngIf="!isRowEditable(rowIndex)" pButton icon="pi pi-pen-to-square"
          class="p-button-secondary" (click)="enableRowEdit(rowIndex)"></button>
        <button *ngIf="isRowEditable(rowIndex)" pButton icon="pi pi-save"
          class="p-button-secondary" (click)="saveRowEdit(rowIndex)"></button>
        <button pButton icon="pi pi-trash" class="p-button-danger"
          (click)="deleteRow(rowIndex)"></button>
      </td>
    </tr>
  </ng-template>
  
</p-table>
